.App {
  text-align: center;
}
body{
  background: #F6F8FC;
}

button{
  cursor: pointer;
}
.pro-blog-container{
  margin-left: 48.5em;
  position: absolute;
  top: 3.5em;
}


.alert-handler{
  position: fixed;
  top: 1em;
  width: 30vw;
  margin-left: 35vw;
  font-size: 1em;
  padding: .5em auto;
  height: 3em;
  border: 2px solid green;
}

