.blogs-main-container{
    background-color: white;
    /* height: 50vh; */
    width: 45vw;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: left;
    margin-top: 1em;
}
.blog-container-heading{
    display: inline-block;
    padding-top: 0;
    font-size: 1.5em;
    letter-spacing: 1px;
    padding-left: .5em; 
    /* margin: 1em 0; */
}

.blogs-container{
    /* background: #ccc; */
    text-align: left;
    padding: 1em 1em 1em 0;
    margin-top: -2em;
}

.blog{
    display: inline-flex;
    background: #796eff;
    width: 12em;
    height: 8em;
    margin-left: 1em;
    margin-top: 1em;
}

.blog-name{
    color: white;
    font-weight: 700;
    padding-left: .5em;
    float: left;
}

.add-new-blog-btn{
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1.5em;
    margin-left: .5em;
    color: white;
    font-weight: 700;
    background-color: #796eff;
    border-radius: 50%;
}