.search-query{
    width: 36vw;
    margin-left: 16vw;
    padding: 1em;
    text-align: left;
    border-radius: .5em;
    border: 1px solid #F73759;
    margin-top: .5em;
    background-color: rgb(247,55,89, 0.1);
}

.focus{
    background-color: rgb(121,110,255, .1);
}

.developers-main-container{
    background-color: white;
    text-align: left;
    margin: 1em;
    margin-left: 16vw;
    padding: 0em;
    width: 36vw;
}

.developer-container{
    padding: 1em;
    border-bottom: 1px solid #F3F3F3;
}

.developer-name{
    display: inline-block;
    font-weight: bolder;
    cursor: pointer;
    border-bottom: 2px solid #796eff;
}
.developer-profile-links{
    float: right;
}
.developer-profile-links img{
    cursor:pointer;
    margin-left: 1em;
    max-width: 2em;
    display: inline-block;
}