.developer-projects-main-container{
    top: 12vh;
    width:46vw; 
    margin-left: 53vw;
    background: white;
    position: absolute;
    text-align: left;
    padding-bottom: 1em;
}

.developer-project-container-heading{
    font-size: 1.5em;
    letter-spacing: 1px;
    padding:.5em; 
    display: inline-block;
}