.personal-info-container{
    background: white;
    /* border: 1px solid #CCC; */
    border-radius: .2em;
    width: 37vw;
    margin-left: 15vw;
    margin-top: 1em;
    height: fit-content;
    text-align: left;
    padding: 1em;
}

.form-label{
    display: block;
    width: 100%;
    font-size: 1.5em;
    letter-spacing: 1px;
    clear: both;
}
.about-me-textarea{
    outline: none;
    border: none;
    margin: .5em 0;
    color: #646f79;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.75;    
    /* border-bottom: 1px solid #ccc; */
    width: 98%;
    resize: none;
    height: 13em;
}

.change-personal-info-btn{
    margin:0;
    margin-bottom: 1em;
    padding-bottom: 2px;
    color: #796eff;
    font-weight: 500;
    border: none;
    border-bottom: 2px solid #796eff;
    font-size: 1em;
    display: block;
}
.change-personal-info-btn:focus{
    outline: none;
}

.main-skills-container{
    text-align: left;
    margin-left: 15vw;
    width: 37vw;
    background: white;
    padding: 1em;
    margin-top: 1em;
}

.skills-container{
    margin-top: .5em;
}

.skill{
    display: inline-block;
    color: #796eff;
    border: 2px solid #796eff;
    padding: .5em 0em .5em 1em;
    margin: .5em .5em 0 0;
    text-transform: capitalize;
}

.add-skill-input{
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
    width: 92%;
    font-size: 1em;
    padding: 1em; 
}
.add-skill-input:focus{
    outline:none;
}

.delete-skill{
    background: transparent;
    cursor: pointer;
    margin: 0 1em;
}