button{
    background-color: #796eff;
}

.projects-main-container{
    background-color: white;
    /* height: 50vh; */
    width: 45vw;
    margin-top: 1.5em;
    padding-bottom: 1em;
    padding-top: 1px;
    text-align: left;
}
.project-container-heading{
    font-size: 1.5em;
    letter-spacing: 1px;
    padding:.5em; 
    display: inline-block;
}

.projects-container{
    text-align: left;
    padding: 1em 1em 1em 0;
    margin-top: -2em;
}

.project{
    cursor: pointer;
    display: inline-flex;
    background: #796eff;
    width: 12em;
    height: 8em;
    margin-left: 1em;
    margin-top: 1em;
}

.project-name{
    position: absolute;
    color: white;
    font-weight: 700;
    padding-left: .5em;
    text-transform: capitalize;
}

.project-image{
    width: 100%;
    opacity: .2;
}

.add-new-project-btn{
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1.5em;
    margin-left: .5em;
    color: white;
    font-weight: 700;
    background-color: #796eff;
    border-radius: 50%;
}